{% load static %}

<section class="about">
  <h3 class="about__title section-title">О компании</h3>
  <div class="about__info">
    <div class="about__text">Компания начала свою деятельность в 2010 году,<br>как поставщик запасных частей и расходных материалов<br>для кинотеатров г. Екатеринбурга и Свердловской области.</div>
    <div class="about__text">Сегодня мы сотрудничаем с кинотеатрами<br>во многих регионах России от Европейской части России<br>до Дальнего Востока.</div>
  </div>
  <div class="about__description">Работать с нами выгодно по нескольким причинам:</div>
  <ul class="about__list">
    <li class="about__item">
      <h5 class="about__item-title">Низкие цены</h5>
      <div class="about__item-description">
        Импортируя продукцию напрямую
        от производителей, мы всегда предлагаем самые низкие цены,
        что позволяет кинотеатрам оптимизировать расходы
        на обслуживание оборудования.
      </div><img class="about__ico" src="{% static '/images/svg/usd.svg' %}">
    </li>
    <li class="about__item">
      <h5 class="about__item-title">Оперативность</h5>
      <div class="about__item-description">
        На складе компании всегда
        в наличии отражатели для самых распространенных моделей цифровых проекторов,
        что позволяет в случае взрыва лампы оперативно заменить отражатель и лампу.
      </div><img class="about__ico" src="{% static '/images/svg/timer.svg' %}">
    </li>
    <li class="about__item">
      <h5 class="about__item-title">качество</h5>
      <div class="about__item-description">
        Наша компания является эксклюзивным импортером японской компании Юмекс
        в России, которая предлагает ксеноновые лампы высочайшего качества.
      </div><img class="about__ico" src="{% static '/images/svg/lightning.svg' %}">
    </li>
  </ul>
</section>