<section class="delivery">
  <div class="delivery__content">
    <h3 class="section-title">бесплатная Доставка по всей россии и СНГ</h3>
    <div class="delivery__description">Для доставки по России мы пользуемся услугами курьерской компании DPD,<br>что позволяет в кратчайшие сроки доставить до дверей Вашего кинотеатра заказанный Вами товар.<br><span class="blue-text">Весь груз застрахован!</span></div><a class="btn btn--long delivery__btn" href="#">Отследить груз</a>
  </div>
  <div class="delivery__banner">
    <div class="delivery__dpd"></div>
  </div>
</section>