{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="categories container">
      <ul class="categories__list">
        <li class="categories__item"><a class="categories__link" href="catalog-list.html"><span class="categories__header">
              <h5 class="categories__title">Лампы для проекторов<img class="categories__title-shield" src="assets/images/shield.png"></h5></span><img class="categories__img" src="assets/images/categoriesList1.png"><img class="categories__img categories__img--mobil" src="assets/images/categoriesList1-mobil.png"></a></li>
        <li class="categories__item"><a class="categories__link" href="catalog-list.html"><span class="categories__header">
              <h5 class="categories__title">Фильтры для цифровых<br>проекторов</h5></span><img class="categories__img" src="assets/images/categoriesList2.png"><img class="categories__img categories__img--mobil" src="assets/images/categoriesList2-mobil.png"></a></li>
        <li class="categories__item"><a class="categories__link" href="catalog-list.html"><span class="categories__header">
              <h5 class="categories__title">Отражатели</h5></span><img class="categories__img" src="assets/images/categoriesList3.png"><img class="categories__img categories__img--mobil" src="assets/images/categoriesList3-mobil.png"></a></li>
        <li class="categories__item"><a class="categories__link" href="catalog-list.html"><span class="categories__header">
              <h5 class="categories__title">Мебель для кинотеатров</h5></span><img class="categories__img" src="assets/images/categoriesList4.png"><img class="categories__img categories__img--mobil" src="assets/images/categoriesList4-mobil.png"></a></li>
        <li class="categories__item"><a class="categories__link" href="catalog-list.html"><span class="categories__header">
              <h5 class="categories__title">3D оборудование</h5></span><img class="categories__img" src="assets/images/categoriesList5.png"><img class="categories__img categories__img--mobil" src="assets/images/categoriesList5-mobil.png"></a></li>
        <li class="categories__item"><a class="categories__link" href="catalog-list.html"><span class="categories__header">
              <h5 class="categories__title">Лампы для промышленности</h5></span><img class="categories__img" src="assets/images/categoriesList6.png"><img class="categories__img categories__img--mobil" src="assets/images/categoriesList6-mobil.png"></a></li>
      </ul>
    </div>
{% endblock %}