{% extends 'base.html' %}

{% load static %}

{% block content %}
        <section class="contacts-section">
        <div class="container">
          <div class="contacts-section__item">
            <svg class="icon icon-phone contacts-section__ico">
              <use xlink:href="assets/images/svg/symbol/sprite.svg#phone"></use>
            </svg>
            <div class="contacts-section__info"><b>+7(343)202-06-14</b>Получить консультацию специалиста по телефону вы можете<br>ежедневно<span>с 10:00 до 20:00</span></div>
          </div>
          <div class="contacts-section__item">
            <svg class="icon icon-mail contacts-section__ico contacts-section__ico--mail">
              <use xlink:href="assets/images/svg/symbol/sprite.svg#mail"></use>
            </svg>
            <div class="contacts-section__info"><b>3786801@gmail.com</b></div>
          </div>
        </div>
      </section>
      <section class="map-section">
        <div class="container">
          <div class="contacts-section__item">
            <svg class="icon icon-location contacts-section__ico contacts-section__ico--location">
              <use xlink:href="assets/images/svg/symbol/sprite.svg#location"></use>
            </svg>
            <div class="contacts-section__info">Юридический и физический адрес:<b>г. Екатеринбург, ул. Монтажников, 26а</b></div>
          </div>
          <div class="map" id="map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A23e30bc9e4d8e42917fb6c8c78b854ef26b9d6bb5f2959f4a2dfd4e9d9742135&amp;amp;width=100%25&amp;amp;height=100%&amp;amp;lang=ru_RU&amp;amp;scroll=true"></script>
          </div>
        </div>
      </section>
{% endblock %}