{% load static %}

<!DOCTYPE html>
<html lang="ru-RU">

  <!-- head -->
  {% include 'mainapp/includes/head.html' %}


  <body>
    <!-- header -->
    {% include 'mainapp/includes/header.html' %}

    <!-- main -->
    <main class="main">
      {% block content %} {% endblock %}
    </main>

{% comment %}
    <footer class="footer">
      <div class="footer__container container">
        <div class="footer__logo"><a class="logo logo--footer" href="/">
            <svg class="icon icon-logo ">
              <use xlink:href="assets/images/svg/symbol/sprite.svg#logo"></use>
            </svg></a></div>
        <nav class="footer-menu">
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item"><a class="menu__link active" href="catalog.html">Каталог</a></li>
              <li class="menu__item"><a class="menu__link" href="delivery.html">Доставка</a></li>
              <li class="menu__item"><a class="menu__link" href="about.html">О компании</a></li>
              <li class="menu__item"><a class="menu__link" href="contacts.html">Контакты</a></li>
            </ul>
          </nav>
        </nav>
        <div class="footer__contacts">г. Екатеринбург,  ул. Монтажников, 26а<br>Все права защищены www.alefcinema.ru</div>
      </div>
    </footer> {% endcomment %}


    {% comment %} <nav class="mobile-menu">
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item"><a href="catalog.html">Каталог</a></li>
        <li class="mobile-menu__item"><a href="delivery.html">Доставка</a></li>
        <li class="mobile-menu__item"><a href="about.html">О компании</a></li>
        <li class="mobile-menu__item"><a href="contacts.html">Контакты</a></li>
        <li class="mobile-menu__item"><a href="catalog.html">Каталог</a></li>
      </ul>
    </nav> {% endcomment %}


    {% comment %} <div class="modal" id="more">
      <div class="modal__overlay close-modal"></div>
      <div class="modal__content">
        <div class="modal__header">
          <div class="modal__close close-modal"></div>
          <div class="modal__title">Узнать цену на товар:</div>
          <div class="modal__subtitle">Фильтр NC-75MF01 (металлический)</div>
        </div>
        <div class="modal__body">
          <div class="modal__description">Оставьте свои контактные данные и наш оператор свяжется с вами в ближайшее время.</div>
          <form class="modal__form">
            <div class="form__group">
              <input class="input input--no-shadow" type="text" placeholder="Имя" required>
              <svg class="icon icon-check input__check">
                <use xlink:href="assets/images/svg/symbol/sprite.svg#check"></use>
              </svg>
            </div>
            <div class="form__group">
              <input class="input input--no-shadow" type="text" placeholder="Телефон или e-mail" required>
              <svg class="icon icon-check input__check">
                <use xlink:href="assets/images/svg/symbol/sprite.svg#check"></use>
              </svg>
            </div>
            <div class="btn btn--full modal__btn" onClick="$('.modal').removeClass('active'); $('#success').addClass('active');">Отправить</div>
          </form>
          <div class="modal__text">
            Нажимая на кнопку, вы даете согласие на обработку персональных данных
            и соглашаетесь с<a class="link" href="#">политикой конфиденциальности</a>
          </div>
        </div>
      </div>
    </div> {% endcomment %}


    {% comment %} <div class="modal" id="success">
      <div class="modal__overlay close-modal"></div>
      <div class="modal__content">
        <div class="modal__header">
          <div class="modal__close close-modal"></div>
          <div class="modal__subtitle jcc">Запрос отправлен!<img class="modal__smile" src="assets/images/smile.svg"></div>
          <div class="modal__success">Наши менеджеры свяжутся с вами в ближайшее время</div>
        </div>
      </div>
    </div> {% endcomment %}


    {% comment %} <div class="modal" id="order">
      <div class="modal__overlay close-modal"></div>
      <div class="modal__content">
        <div class="modal__header">
          <div class="modal__close close-modal"></div>
          <div class="modal__title">Чтобы узнать стоимость всего списка на<b>27.04,</b>отправьте запрос и наши менеджеры свяжутся с вами
            в ближайшее время.
          </div>
        </div>
        <div class="modal__body">
          <ul class="modal__order-list">
            <li class="modal__order-item">
              <div class="modal__order-picture"><img src="assets/images/lamp.png"></div>
              <div class="modal__order-description">Лампа ксеноновая<br>YUMEX YXL-6000C12</div>
              <div class="modal__order-counter">
                <div class="modal__order-minus disabled"></div>
                <div class="modal__order-num">1</div>
                <div class="modal__order-plus"></div>
              </div>
              <div class="modal__order-del"></div>
            </li>
            <li class="modal__order-item">
              <div class="modal__order-picture"><img src="assets/images/lamp.png"></div>
              <div class="modal__order-description">Лампа ксеноновая<br>YUMEX YXL-6000C12</div>
              <div class="modal__order-counter">
                <div class="modal__order-minus"></div>
                <div class="modal__order-num">2</div>
                <div class="modal__order-plus"></div>
              </div>
              <div class="modal__order-del"></div>
            </li>
          </ul>
          <div class="modal__order-bottom"><a class="print-link link" href="#">Распечатать</a>
            <div class="modal__order-total">Всего позиций<b>2</b></div>
          </div>
          <button class="btn">Отправить запрос</button>
        </div>
      </div>
    </div> {% endcomment %}


    {% comment %} <div class="modal" id="form">
      <div class="modal__overlay close-modal"></div>
      <div class="modal__content">
        <div class="modal__header">
          <div class="modal__close close-modal"></div>
          <div class="modal__title">Форма заказа</div>
          <div class="modal__subtitle">Оставьте данные об оборудовании и наши специалисты подберут для вас нужную деталь.</div>
        </div>
        <form class="modal__form">
          <div class="modal__form-wrap">
            <div class="modal__form-group">
              <label class="modal__form-label">Название проектора</label>
              <input class="input" type="text" required>
              <svg class="icon icon-check input__check">
                <use xlink:href="assets/images/svg/symbol/sprite.svg#check"></use>
              </svg>
            </div>
            <div class="modal__form-group">
              <label class="modal__form-label">Название запчасти</label>
              <input class="input" type="text" required>
              <svg class="icon icon-check input__check">
                <use xlink:href="assets/images/svg/symbol/sprite.svg#check"></use>
              </svg>
            </div>
            <div class="modal__form-group">
              <label class="modal__form-label">Серийный номер запчасти<br>(Purt number)</label>
              <input class="input" type="text">
            </div>
            <div class="modal__form-group">
              <label class="modal__form-label">Комментарий</label>
              <textarea class="textarea"></textarea>
            </div>
            <div class="modal__form-group">
              <label class="modal__form-label">Телефон или e-mail</label>
              <input class="input" type="text" required>
              <svg class="icon icon-check input__check">
                <use xlink:href="assets/images/svg/symbol/sprite.svg#check"></use>
              </svg>
            </div>
          </div>
          <div class="modal__footer">
            <button class="btn" type="submit">Отправить</button>
            <div class="form__politic">Нажимая на кнопку, вы даете согласиена обработку персональных данных и соглашаетесь с<a class="link" href="#">политикой конфиденциальности</a></div>
          </div>
        </form>
      </div>
    </div> {% endcomment %}


    {% comment %} <script src="assets/js/jquery.js"></script>
    <script src="assets/js/libs.min.js"></script>
    <script src="assets/js/main.js"></script> {% endcomment %}
  </body>
</html>